<header class="container my-5">
  <h1>Welcome, <%= current_user.first_name %></h1>
</header>
<main>

  <section class="container mb-5">
    <div class="row">
      <div class="row col-8 background-green-2 b-solid b-radius py-4">
        <h3>Your offers</h3>
        <% current_user.offers.each do |offer| %>
          <div class="col-sm col-md-6 my-3">
            <%= link_to offer_path(offer), class: "text-decoration-none" do %>
              <%= render 'shared/card', offer: offer %>
            <% end %>
          </div>
        <% end %>
      </div>
      <aside class="row col-4">
        <div class="row col-8 background-green-2 b-solid b-radius py-4">
          <h3>Your Bookings As Owner</h3>
          <% current_user.bookings_as_owner.each do |booking| %>
          <div class="col-sm col-md-6 my-3">
            <%= render 'shared/booking_card', booking: booking %>
              <% unless booking.status == 'pending' %>
                <%= link_to "Accept", accept_booking_path(booking) %>
                <%= link_to "Decline", decline_booking_path(booking) %>
              <% end %>
            <% end %>
          </div>
      </div>

        <div class="row col-8 background-green-2 b-solid b-radius py-4">
        <h3>Your Bookings As Customer</h3>
          <% current_user.bookings.each do |booking| %>
            <div class="col-sm col-md-6 my-3">
              <%= render 'shared/booking_card', booking: booking %>
          <% end %>
        </div>
      </aside>
    </div>
  </section>

</main>
