<header class="container my-5">
  <h1>Welcome, <%= current_user.first_name %></h1>
</header>
<main>

  <section class="container mb-5">
    <div class="row">
      <div class="row col-8 background-green-2 b-solid b-radius py-4">
        <h3>Your offers</h3>
        <% current_user.offers.each do |offer| %>
          <div class="col-sm col-md-6 my-3">
            <%= link_to offer_path(offer), class: "text-decoration-none" do %>
              <%= render 'shared/card', offer: offer %>
            <% end %>
          </div>
        <% end %>
      </div>
      <aside class="row col-4">
        <div class="bookings-as-owner row">
          <% current_user.bookings_as_owner.each do |booking| %>
            <div class="col-sm col-md-4 my-3">
              <%= link_to booking_path(booking), class: "text-decoration-none" do %>
                <p><%= "#{booking.user.first_name} #{booking.user.last_name}" %></p>
                <%= link_to "Accept", accept_booking_path(booking) %>
                <%= link_to "Decline", decline_booking_path(booking) %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="bookings-as-customer row">
          <% current_user.bookings_as_owner.each do |booking| %>
            <div class="col-sm col-md-4 my-3">
              <%= link_to booking_path(booking), class: "text-decoration-none" do %>
                <p><%= "#{booking.user.first_name} #{booking.user.last_name}" %></p>
                <%= link_to "Accept", accept_booking_path(booking) %>
                <%= link_to "Decline", decline_booking_path(booking) %>
              <% end %>
            </div>
          <% end %>
        </div>
      </aside>
    </div>
  </section>

</main>
