<main class="container my-5 p-5">
  <div class="form-card devise-form background-green b-radius p-5 pb-4">
    <h2 class="mb-4">Forgot your password?</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { class: "border-green b-radius", autocomplete: "email" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Send me reset password instructions", class: "btn btn-lg btn-outline-light b-radius w-100 my-4" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</main>
