<div class="card-product b-radius my-3">
  <% if booking.offer.photos.empty? %>
    <% case booking.offer.category %>
      <% when 'Bicycle'%>
      <%= image_tag 'https://images.unsplash.com/uploads/14122621859313b34d52b/37e28531?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80' %>
      <% when 'Skateboard'%>
        <%= image_tag 'https://images.unsplash.com/photo-1520045892732-304bc3ac5d8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80' %>
      <% when 'Rollerblades'%>
        <%= image_tag 'https://images.unsplash.com/photo-1583832292569-7092d6d90873?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1204&q=80' %>
      <% when 'Scooter'%>
        <%= image_tag 'https://images.unsplash.com/photo-1591122519484-70428711810d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80' %>
    <% end %>
  <% else %>
    <%= cl_image_tag booking.offer.photos.first.key, crop: :fill %>
  <% end %>
  <div class="card-product-infos">
    <div class="d-flex justify-content-between">
      <h2>Offer #<%= booking.offer.id %> <%= booking.offer.category %></h2>
      <h6><i class="fa-solid fa-star"></i> <%= booking.offer.rating %></h6>
    </div>
    <p class="line-height"><strong><%= "#{booking.offer.user.first_name} #{booking.offer.user.last_name}" %></strong> is reviewing your booking request for <%= booking.start_date.strftime('%d %b %Y') %> and will reply soon.</p>
  </div>
</div>
