<div class="card-product b-radius my-3">
  <% if booking.offer.photos.empty? %>
    <% case booking.offer.category %>
      <% when 'Bicycle'%>
      <%= image_tag 'https://images.unsplash.com/uploads/14122621859313b34d52b/37e28531?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80' %>
      <% when 'Skateboard'%>
        <%= image_tag 'https://images.unsplash.com/photo-1520045892732-304bc3ac5d8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80' %>
      <% when 'Rollerblades'%>
        <%= image_tag 'https://images.unsplash.com/photo-1583832292569-7092d6d90873?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1204&q=80' %>
      <% when 'Scooter'%>
        <%= image_tag 'https://images.unsplash.com/photo-1591122519484-70428711810d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80' %>
    <% end %>
  <% else %>
    <%= cl_image_tag offer.photos.first.key, crop: :fill %>
  <% end %>
  <div class="card-product-infos">
    <h2>Offer #<%= booking.offer.id %> <%= booking.offer.category %></h2>
    <p><strong><%= "#{booking.user.first_name} #{booking.user.last_name}" %></strong> wants to book your <%= booking.offer.category %> from <%= booking.start_date.strftime('%d %b %Y') %> to <%= booking.end_date.strftime('%d %b %Y') %>.</p>
    <% if booking.status == 'pending' %>
      <div class="d-flex justify-content-end">
        <%= link_to accept_booking_path(booking) do %>
          <i class="fa-solid fa-circle-check accept-booking mx-2"></i>
        <% end %>
        <%= link_to decline_booking_path(booking) do %>
          <i class="fa-solid fa-x decline-booking"></i>
        <% end %>
      </div>
    <% elsif booking.status == 'accepted' %>
      <div class="booking-accepted d-flex justify-content-start align-items-end">
        <i class="fa-solid fa-check me-1"></i>
        <p>Booking accepted</p>
      </div>
    <% else %>
      <div class="booking-declined d-flex justify-content-start align-items-end">
        <i class="fa-solid fa-circle-xmark me-1"></i>
        <p>Booking declined</p>
      </div>
    <% end %>

  </div>
</div>
