<div class="card-offer">
  <%= image_tag("https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") %>
  <div class="card-offer-infos">
    <div>
      <h1><%= offer.title[0..17] %>...</h2>
      <%  %>
      <p class="my-3"><%= offer.description[0..100] %>...</p>
      <p class="feature my-1"><i class="fa-solid fa-bolt"></i> Electric ✕</p>
      <p class="feature my-1"><i class="fa-solid fa-lock"></i> Locker ✓</p>
      <h2 class="card-offer-pricing mt-3">$<%= offer.price_in_cents / 1000 %><span id="per-day">/day</span></h2>
    </div>
    <div class="d-flex mt-3">
      <i class="fa-solid fa-star"></i>
      <h2 id="offer-rating" class="ms-1"><%= offer.rating %></h2>
    </div>
    <p id="category"><i class="fa-solid fa-bicycle"></i> <%= offer.category %></p>
  </div>
</div>
