<div class="banner">
  <div class="container text-center">
    <h1>Rent your best ride!<strong></h1>
    <p>Enjoy the city with more <strong>freedom</strong>.</p>
    <%= form_with url: offers_path, method: :get, class: "d-flex search-input" do %>
      <%= text_field_tag :address,
        params[:address],
        class: "form-control",
        placeholder: "Find an Offer"%>
      <%= submit_tag "Search", class: "btn btn-green" %>
    <% end %>
  </div>
</div>

<main>

  <section id="top-offers" class="container py-5 mt-4 mb-5">
    <h2 class="text-center mb-4">Top Offers</h2>
    <div class="row mt-3">
      <% @offers.order(rating: :desc).first(3).each do |offer| %>
        <div class="col-sm-12 col-lg-6 col-xl-4 my-3">
          <%= link_to offer_path(offer), class: "text-decoration-none" do %>
            <%= render 'shared/card', offer: offer %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="d-flex justify-content-center">
      <%= link_to 'See more offers', offers_path, class: "btn btn-lg btn-green b-radius mt-4 px-5" %>
    </div>
  </section>

  <section id="how-it-works" class="py-5">
    <div class="container text-center py-5">
      <h2>How it works</h2>
      <div class="row my-3">
        <div class="col-sm-12 col-md-12 col-lg-4 my-5 card-circle">
          <%# https://cdn-icons-png.flaticon.com/512/8305/8305992.png %>
          <%= image_tag "https://cdn-icons-png.flaticon.com/512/1385/1385616.png" %>
          <p>Choose your ride</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 my-5 card-circle">
          <%= image_tag "https://cdn-icons-png.flaticon.com/512/1028/1028157.png" %>
          <p>Book it</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 my-5 card-circle">
          <%= image_tag "https://cdn-icons-png.flaticon.com/512/3105/3105714.png" %>
          <p>Enjoy your stay</p>
        </div>
      </div>
      <%= link_to "Try now!", offers_path, class: "btn btn-lg btn-outline-light b-radius px-5" %>
    </div>
  </section>

</main>


    <%# <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="row mt-3">
          <div class="carousel-item active">
            <div class="col-sm-12 col-md-8 my-3 margin-auto">
              <%= link_to offer_path(@offers.first), class: "carousel-link" do %>
                <%# <%= render 'shared/carousel_card', offer: @offers.first %>
              <%# <% end %>
            <%# </div>
          </div>
          <% @offers[1..-1].each do |offer| %>
            <%# <div class="carousel-item">
              <div class="col-sm-12 col-md-8 my-3 margin-auto">
                <%= link_to offer_path(offer), class: "carousel-link" do %>
                  <%# <%= render 'shared/carousel_card', offer: offer %>
                <%# <% end %>
              <%# </div>
            </div>
          <% end %>
        <%# </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> %>
