<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1472709171579-139831cdf19e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);">
  <div class="container text-center">
    <h1>Rent your best ride!<strong></h1>
    <p>Enjoy the city with more <strong>freedom!</strong></p>

    <div class="container col-5">
      <%= form_with url: offers_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :address,
      params[:address],
      class: "form-control",
      placeholder: "Where do you wanna go" %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
<% end %>

  </div>
</div>
<main class="container">
  <div class="row mt-3">
    <% @offers.each do |offer| %>
      <div class="col-sm col-md-4 my-3">
        <%= link_to offer_path(offer), class: "text-decoration-none" do %>
          <%= render 'shared/card', offer: offer %>
        <% end %>
      </div>
    <% end %>
  </div>
</main>
