<main class="container my-3 p-4">
  <%= simple_form_for(@offer) do |f| %>
    <%= f.input :title %>
    <%= f.input :category, :collection => %w[Bicycle Skateboard Scooter Rollerblades], required: true %>
    <%= f.input :description %>
    <%= f.input :price, :label => "Price per day ($)" %>
    <%= f.input :address,
            input_html: {data: {address_autocomplete_target: "address"},
            class: "d-none"},
            wrapper_html: {data: {controller: "address-autocomplete",
            address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
    <%=f.input :electric %>
    <%=f.input :safety_equipment %>
    <%= f.input :optional, :collection => %w[None Padlock Backseat], required: true %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit %>
  <% end %>
</main>
