<main class="container my-3">
  <div>
    <div class="offer-info">
      <h2 class='my-3'><%= @offer.title %></h2>
      <div class="offer-image mt-3">
        <% if @offer.photos.present? %>
          <% @offer.photos.each do |photo| %>
            <%= cl_image_tag photo.key, crop: :fill %>
          <% end %>
        <% else %>
          <%= image_tag("https://source.unsplash.com/random/?bicycle") %>
        <% end %>
      </div>
    </div>

    <div class="offer-info">
      <div class="d-flex justify-content-between">
        <div>
          <div class="d-flex">
          <%if @offer.electric == true %>
            <p class="me-3 my-1"><i class="fa-solid fa-bolt"></i> Electric ✓</p>
          <% else %>
            <p class="me-3 my-1"><i class="fa-solid fa-bolt"></i> Electric ✕</p>
          <% end %>

          <% if @offer.optional == 'Padlock' %>
            <p class="me-3 my-1"><i class="fa-solid fa-lock"></i> Padlock ✓</p>
          <% elsif @offer.optional == 'Backseat' %>
            <p class="me-3 my-1"><iconify-icon icon="ic:sharp-airline-seat-recline-normal"></iconify-icon></i> Backseat ✓</p>
          <% end %>

          <% if @offer.safety_equipment == true %>
            <p class="me-3 my-1"><i class="fa-solid fa-helmet-safety"></i> Helmet ✓</p>
          <% end %>
          </div>
          <p class="rating mt-2"><i class="fa-solid fa-star"></i> <%= @offer.rating %></p>
        </div>

        <div class="text-end">
          <%if @offer.category == 'Bicycle'%>
            <p class="category-icon mb-0"><i class="fa-solid fa-bicycle"></i> <%= @offer.category %></p>
          <% elsif @offer.category == 'Skateboard' %>
            <p class="category-icon mb-0"><iconify-icon icon="ic:outline-skateboarding" ></iconify-icon> <%= @offer.category %></p>
          <% elsif @offer.category == 'Scooter' %>
            <p class="category-icon mb-0"><iconify-icon icon="mdi:scooter"></iconify-icon></i> <%= @offer.category %></p>
          <% else %>
            <p class="category-icon mb-0"><i class="fa-solid fa-person-skating"></i> <%= @offer.category %></p>
          <% end %>
          <p class="rating m-0">Only <strong class="category-icon">$<%= @offer.price %></strong> /day</p>
        </div>
      </div>

      <p class='my-4'><%= @offer.description %></p>

      <%= simple_form_for [@offer, @booking], data: { controller: "flatpickr" } do |f| %>
        <%= f.input :start_date, input_html: { data: { flatpickr_target: "firstRangeInput" } }, as: :string %>
        <%= f.input :end_date, input_html: { data: { flatpickr_target: "secondRangeInput" } }, as: :string %>
        <%= f.submit class: "btn btn-flat my-3 col-4 w-100" %>
      <% end %>
    </div>
  </div>
</main>
